* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0px;
    padding: 0px;
}

header {
    background-color: rgb(19, 12, 121);
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Jogadores {
    margin-top: 25px;
    margin-left: 25px;
}

.idolos {
    margin-top: 25px;
    margin-left: 25px;
}
.azul{
    background-color: rgb(5, 5, 56);
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.loja{
    margin-top: 30px;
    margin-left: 25px;
}
.camisa{
margin-left: 10px;
}

.escudo{
    margin-top: 30px;
    margin-left: 25px;
}

.escudo img{
    margin-left: 50px;
    margin-bottom: 50px;
}


.azul a{
    text-decoration: none;
}

.rp{
    background-color: rgb(19, 12, 121);
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.oa{
    background-color: rgb(5, 5, 56);
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
