.fabio img{
    max-width: 600px;
    height: auto;
    border-radius: 24px;
    text-align: center;
    margin: 20px;
    box-shadow: 0 4px 8px blue;
    align-items: center;
}

.fabio{
    text-align: center;
    border-radius: 8px;
}

*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.voltar {
    width: 10px;
    height: 10px;
}

.voltar img {
    padding-left: 50px;
    width: 50px;
    height: auto;
    cursor: pointer;
}

.voltar {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
