* {
    margin-top: 0px;
    padding: 0px;
}

header h1 {
    margin-top: 20px;
}

header {
    background-color: rgb(19, 12, 121);
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.MP img {
    max-width: 600px;
    height: auto;
    border-radius: 24px;
    text-align: center;
    margin: 20px;
    box-shadow: 0 4px 8px blue;
    align-items: center;
}

.MP {
    text-align: center;
    border-radius: 8px;
}

.Superação {
    position: relative;
    left: 20px;

}

.Voltar {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.Voltar img {
    padding-left: 50px;
    width: 50px;
    height: auto;
    cursor: pointer;
}

.Voltar {
    width: 10px;
    height: 10px;
    margin-bottom: 40px;
}

* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.ma {
    background-color: rgb(5, 5, 56);
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.rp{
    background-color: rgb(19, 12, 121);
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}